%dialog {
    position: absolute;
    top: 100%;
    margin-top: 23px;
    width: 100%;
    z-index: 100;
    display: none;

    [data-open="true"] > & {
        display: block;
    }

    > div {
        position: relative;
        background: $white;
        width: 100%;
        padding: 10px;
        box-shadow: 0 0 11px rgba($color: #A48678, $alpha: 0.4);

        &::after {
            content: "";
            width: 0;
            height: 0;
            border: 12px solid transparent;
            border-bottom-color: $white;
            position: absolute;
            bottom: 100%;
            right: 9px;
        }
    
        &::before {
            content: "";
            width: 24px;
            height: 24px;
            position: absolute;
            transform: rotate(45deg);
            bottom: calc(100% - 18px);
            right: 9px;
            box-shadow: 0 0 11px rgba($color: #A48678, $alpha: 0.4);
            z-index: -1;
        }
    }
}