.select {
    width: 100%;
    position: relative;

    &[data-open="true"] {
        .select-options-wrapper {
            display: block;
        }
    }

    .select-hidden {
        display: none;
    }

    .select-input {
        position: relative;
        display: flex;
        align-items: center;

        input {
            @extend .form-control;

            &[readonly] {
                background: transparent;
            }
        }

        i.fas {
            position: absolute;
            right: 15px;
            z-index: -1;
        }
    }

    .select-options-wrapper {
        @extend %dialog;

        .select-option {
            transition: all 0.1s ease-out;

            &:hover {
                background: $secondary;
                color: $white;
            }
        }
    }
}